[user]
	email = nabos@glargh.fr
	name = nab-os
	signingkey = gnikwo@hotmail.com
[push]
	default = simple
[commit]
	gpgsign = false
[gpg]
	program = gpg
[color]
	ui = auto
[core]
    editor = nvim
[diff]
	tool = vimdiff
	submodule = log
[merge]
    tool = vimdiff
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE -c 'wincmd w'
[difftool]
	prompt = false
[status]
	submoduleSummary = true
